header {
    height: 230px;
    width: 1400px;
    margin: auto;
    background-color: #dcdcdc;

}


.logo_header {
    display: inline-block;
    margin-top: 65px;

}

.feedback {
    text-align: right;
    display: inline-block;

}

.feedback_number {
    color: rgb(118, 118, 118);
    text-align: right;
    display: block;
    line-height: 1.15;
    margin-top: 36px;
    letter-spacing: 0.02em;
    font-size: 40px;
    font-family: "Open Sans Condensed", sans-serif;
}

.wrapper_content_header {
    width: 980px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.feedback_text {
    border-bottom: 3px dashed;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
    display: inline;
    letter-spacing: 0.025em;
    color: rgb(115, 115, 115);
}


.wrapper_nav_block {
    margin: auto;
    width: 1400px;
    height: 80px;
    background-color: rgb(119, 119, 119);

}

.navigation_block{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
    position: relative;
    top: -4px;
    left: 6px;

}

.navigation_block li{
    margin-right: 20px;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(255, 255, 255);
    display: list-item;


}

.navigation_block a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    cursor: pointer;

}

.gallery {
    width: 1400px;
    height: 400px;
    margin: auto;
    background-color: #f9f9f9;

}


.path {
    height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;

}

.path a{
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}

.path_selected {
    text-decoration: underline;
}

#path_separator_one {
    margin-left: 4px;
    margin-right: 7px;
}

#path_separator_two {
    margin-right: 11px;
    margin-left: 7px;

}

.wrapper {
    max-width: 980px;
    margin: auto;
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    color: #767676;
    font-weight: bold;
}

.left_panel {
    display: inline-block;
    width: 200px;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: rgb(118, 118, 118);
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.025em;

}

.menu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 13px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

.subsection {
    font-size: 14px;
    list-style-type: disc;
    padding-left: 25px;
    padding-bottom: 5px;
}

.subsection li:hover{
    text-decoration: underline;
    font-weight: bold;
}

.subsection li {
    text-indent: -5px;
    margin-top: 1px;

}

.right_product_list {
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;

}

.wrapper_product_list {
    margin: auto;
    display: inline-grid;
    background-color: darkturquoise;
    grid-template-columns: 265px  265px 250px;
    width: 780px;
}

.item {
    width: 250px;
    height: 380px;
    margin: 0;
    margin-bottom: 20px;
    background-color: #dcdcdc;

}

.myimg {
    background-color: #b3d4fc;
    width: 210px;
    height: 210px;
    margin-left: 18px;
    margin-right: 20px;
    margin-top: 19px;

}

.laptop {
    color: rgb(118, 118, 118);
    width: auto;
    margin-left: 20px;
    justify-content: center;
    font-family: 'PT Sans', monospace;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;

}

.flex_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.price {
    font-size: 28px;
    margin-left: 19px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(68, 68, 68);
    font-weight: bold;
    align-self: flex-end;

}

.basket {
    background-color: plum;
    height: 21px;
    width: 28px;
    margin-right: 35px;
    margin-bottom: 5px;
    align-self: flex-end;
}


.page_numbers {
    clear: both;
    background-color: greenyellow;
}

.nav-links {
    text-align:  center;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(118, 118, 118);
    background-color: lightpink;
}

.nav-links .a:hover {
    font-size: 25px;
    background-color: lightpink;
}

.my_footer {
    background-color: #777777;
    clear: both;
    width: 1400px;
    margin: auto;
    height: 220px;
    color: #ffffff;
}

.footer_left_column {
    float: left;
    width: 33%;
}

.footer_center_column {
    float: left;
    width: 33%;
}

.footer_right_column {
    float: left;
    width: 33%;
}
