header {
    height: 230px;
    width: 1400px;
    margin: auto;
    background-color: #dcdcdc;

}

.logo_header {
    background-color: lightgreen;
    display: inline-block;
    margin-top: 65px;

}

.feedback {
    font-size: 40px;
    font-family: 'OpenSans Condensed Light', sans-serif;
    color: rgb(118, 118, 118);
    text-align: right;
    background-color: yellow;
    display: inline-block;


}

.wrapper_content_header {
    width: 980px;
    background-color: rosybrown;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.lineheader {
    border-bottom: 3px dashed;
}

.navigation_block{
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(119, 119, 119);
}

.nav_link_item{
  margin-right: 20px;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 255, 255);

}


.right_product_list {
    display: inline-block;
    vertical-align: top;

}

.wrapper {
    max-width: 980px;
    margin: auto;
    background-color: #b3d4fc;
    width: 100%;
    height: 100%;
    color: #767676;
    font-weight: bold;
}

.left_panel {
    background-color: mediumpurple;
    display: inline-block;

}

.page_numbers {
    clear: both;
}

.my_footer {
    background-color: #777777;
    clear: both;
    width: 1400px;
    margin: auto;
    height: 220px;
    color: #ffffff;
}

.footer_left_column {
    float: left;
    width: 33%;
}

.footer_center_column {
    float: left;
    width: 33%;
}

.footer_right_column {
    float: left;
    width: 33%;
}


.item {
    background-color: #555555;
    border-color: #222222;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
}

.myimg {
    background-color: #b3d4fc;
    width: auto;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

.laptop {
    background-color: deeppink;
    width: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.price {
    background-color: mediumspringgreen;
    font-size: 50px;
    margin-left: 10px;


}

.basket {
    background-color: plum;
    font-size: 30px;
    margin-right: 10px;



}

.flex_wrapper {
    display: flex;
    justify-content: space-between;
}


.wrapper_product_list {
    margin: auto;
    display: inline-grid;
    background-color: darkturquoise;
    grid-template-columns: 300px 300px;
    grid-gap: 2vw;
}

.path {
    background-color: yellow;
}

